#container_about{
	max-width: 1200px;
	margin: 0 auto;
	// background-color:  red;
	min-height: 800px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	article{
		.panel{
			background: var(--grad1);
			outline: 2px solid var(--green);
			padding: 2em;
			min-height: 300px;
			max-width: 500px;
			h2{
				color: white;
				font-size: 2rem;
			}
			p{
				color: white;
				opacity: .8;
				font-weight: 200;
			}
			outline-offset:-5px;
		}
	}

	figure{
		position: relative;
		height: 100%;
		.decor_back{
			z-index: -1;
			pointer-events: none;
			user-select: none;
			top: 15%;
			left:0%;
			opacity: .7;
			// background-color: red;
			position: absolute;
		}
	}
}
