#container_portfolio_preview{
	.confine{
		max-width: 1200px;
		margin: 0 auto;
		// background: rebeccapurple;

		padding-top: 80px;
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		gap: 30px;

		.left{
			display: grid;
			grid-template-columns: 60px 1fr;
			gap: .5em;
			.info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.top{
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					.btn-back{
						background:var(--grey);
						color: white;
						font-weight: bold;
						border: none;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: .25em;
						cursor: pointer;

						&:hover{
							scale: 1.05;
						}
						&:active{
							scale: .95;
						}
						svg{
							color: white;
							width:	20px;
							height: 20px;
							scale: 1.5;
							path{
								fill: white !important;

							}
						}
					}
					h2{
						font-size: .9rem;
						font-weight: lighter;
						writing-mode: vertical-rl;
						opacity: .8;
					}
				}
			}

			.main-img{
				position: relative;
				&::before{
					content: '';
					width: 100%;
					height: 100%;
					// background: var(--green);
					border-radius: 4em;
					border: 2px solid var(--green);
					scale: 1.02;
					position: absolute;
					top: 0%;

					
					z-index: -10;

					left: 0%;
					transition: all 150ms ease;
				}
				&::after{
					content: '';
					width: 100%;
					height: 100%;
					// background: var(--green);
					background: url('/decor/graph_circle.webp');
					background-size: contain;
					// border-radius: 4em;
					// border: 2px solid var(--green);
					animation: graph 100s ease-in-out infinite;
					scale: 2;
					filter: brightness(0%);
					position: absolute;
					bottom: -10%;
					left: 20%;
					z-index: -20;
					// transition: all 150ms ease;
					opacity: .05;
					// scale: ;
				}
				&:hover{
					&::before{
						scale: 1.2;
						border-width: 1px;
					}
				}

				@keyframes graph {
					from{
						rotate: 1turn;
					}
					to{
						rotate: 3turn;
					}
				}
				img{
					max-width: 100%;
					// outline: 4px solid var(--green);
					// outline-offset: -3px;
					position: relative;
				
					padding: 1em;
					background: white;
					width: 100%;
					height: 100%;
					min-height: 430px;
					aspect-ratio: 1/1;
				}
			}
		}

		.right{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			gap: 1em;
			.detail{
				display: flex;
				justify-content: space-between;
				
				.text{
					h2{
						font-size: 3rem;
						line-height: 80%;
						text-indent: -4px;
					}

					.subdetail{
						display: flex;
						gap: 1em;
						align-items: center;
						.contacts{
							display: flex;
							gap: .25em;
							.contact-item{
								background:var(--yellow);
								padding: .25em;
								display: flex;
								align-items: center;
								justify-content: center;
								svg{
									fill: var(--grey);
								}

								&:hover{
									scale: 1.05;
								}
								&:active{
									scale: .98;
								}
							}
						}
						.model-id{
							opacity: .5;
						}
					}
				}

				.carousel-ctrl{
					display: flex;
					gap: .55em;

					.btn-arrow{
						width: 50px;
						height: 50px;
						background: var(--grey);
						clip-path: polygon(100% 50%, 0 0, 0 100%);

						transition: all 150ms ease;
						&:hover{
							scale: 1.05;
							cursor: pointer;

							
						}
						&:active{
							scale: .95;
						}
						&.l{
							rotate: 180deg;
							background: var(--green);
						}
					}
				}
			}
			.carousel{
				width: 100%;
				height: 100%;
				// aspect-ratio: 1 / 1;
				.carousel-img{
					width: 100%;
					height: 100%;
					max-height: 280px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 1em;
					.img{
						background: rgb(255, 237, 187);
						border: 2px solid #FFDC6F;
						// outline: none !important;
						max-width: 100%;
						width: 100%;
						object-fit: cover;
						height: 100%;
						outline: none;
					}
				}

				.page-indicator{
					// border-bottom: 4px solid var(--llGrey);
					text-align: right;
					margin: 1em 0;
					p{
						opacity: .87;
					}
					font-size: 1.5rem;
					display: flex;
					flex-direction: column;
					// justify-content: flex-end;
					align-items: flex-end;
					opacity: 0.5;
					.decor-edge{
						height: 12px;
						width: 40%;
						scale: 1 -1;
						background: var(--llGrey);
					clip-path: polygon(10% 0, 100% 1%, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}
}