*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #3F414D;
}

:root{
	--grey:#3F414D;
	--lGrey: #8C8C8C;
	--llGrey: #A9A9A9;
	--green: #94DC64;
	--dGreen: #437423;
	--yellow: #FFDC6F;
	--grad1:linear-gradient(180deg, #5B5B5C 0%, #262937 100%);
}

a{
	text-decoration: none;
}

main{
	// min-height: 410vh;
	padding-bottom: 250px;
}
body{
	background: url('/background/grid.png'),white;
	overflow-x: hidden;
}


.shadow{
	box-shadow: 0px 0px 15px 5px rgba(40, 46, 84, 0.324);
}
.shadow-md{
	box-shadow: 0px 0px 4px 1px rgba(40, 46, 84, 0.406);
}


.shadow-flat{
	box-shadow: 4px 4px 0px 2px rgba(40, 46, 84, 0.122);

}
.hero_frame{
	background: url('/background/tech.webp');
	width: 100%;
	height:190px;
	background-size: 700px;
	border-block: 5px solid var(--green);
	position: relative;
	// z-index: 10;
	.top{
		position: absolute;
		width: 100%;
		z-index: -20;
		// bottom: calc(100% - 50px);
		bottom: 80%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.side{
			object-fit: contain;
			object-position: bottom;
			max-width: 15%;
			max-height: 90px;
		}
	}
	

	.bottom{
		position: absolute;
		width: 100%;
		top:80%;		
		display: flex;
		justify-content: space-between;
		transform: scaleY(-1);
		z-index: -20;
		.side{
			// object-fit: contain;
			// object-position: bottom;
			max-width: 15%;
			max-height: 90px;

		}
	}
	
}

.btn{
	font-size: 1rem;	
	background: var(--green);
	color: var(--dGreen);
	svg{
		fill: var(--dGreen);
	}
	font-weight: bold;
	border: none;
	padding: .5em 1.5em;
	font-family: var(--fontMain);
	transition: all 100ms ease;
	cursor: pointer;
	perspective: 2500px;
	position: relative;
	transform-origin: bottom;
	transform-style: preserve-3d;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .25em;
	border-bottom: 5px solid var(--dGreen);
	
	&:hover{
		scale: 1.025;
	}
	&:active{
		// scale: .925;
		border-bottom: 0px solid var(--dGreen);
	}

	&.normal{
		clip-path: polygon(0% 0%, 95% 0, 100% 25%, 100% 100%, 0% 100%);
	}
	&.outlined{
		background: none;
		outline: 2px solid var(--green);
		outline-offset: -2px;
		color: var(--green);
		svg{
			fill: var(--green) ;
		}
		border-bottom: 5px solid var(--green);

		&:active{
			border-bottom: 0px solid var(--green);

		}
	}

}

