#container_hero{

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-end;
	max-width: 1200px;
	margin: 0 auto;

	article{
		width: 100%;
		height: 100%;
		display: flex;
		// align-items: center;
		flex-direction: column;
		padding-top: 100px;
		
		position: relative;
	

		.text-part{
			max-width: 80%;
			&::before{
				// width: 100%;
				// height: 100%;
				content: url('/decor/graph_circle.png');
				position: absolute;
				transform-origin: center;
				top: -10%;
				left: -10%;
				// background-color: red;
				// background-color: red;
				// background: url('/decor/graph_circle.png');
				// background-repeat: no-repeat;
				// background-size: contain;
				z-index: -100;
				animation: graph 120s infinite ease-in-out,
									 expand 2s infinite alternate-reverse;
				opacity: .8;
			}
		}
		h1{
			line-height: 70%;
			font-size: 6rem;
			white-space: nowrap;
			text-indent: -8px;
			padding-top: .15em;
			font-weight: 400;
		}

		.title-container{
			display: grid;
			grid-template-columns: 1fr 100px;
			.title-left{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				// background-color: red;
			}

			.bottom{
				// background-color: gray;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.tagline{
					font-size: 1.2rem;
					color: var(--lGrey);
					white-space: nowrap;
				}
	
				
				
				.contact{
					width: 100%;
					// height: 40px;
					// background-color: green;
					display: flex;
					align-items: center;
					gap: 1em;
					background: rgb(235, 235, 235);
					width: min-content;
					padding: .15em 1em;
					justify-content: flex-end;
					
					position: relative;

			
					&::before{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0%;
						left: 0%;
						z-index: -2;
						border-radius: 1em;
						scale: 0;
						transition: all 300ms ease;
						border: 1px solid rgb(121, 121, 121);
					}
					border-radius: 1.5em;
					a{
						position: relative;
						top: 2px;
						color: white;
						opacity: .5;
						transition: all 150ms ease;
						&:hover{
							scale: 1.2;
							opacity: 1;
							svg{
								fill:var(--dGreen);
							}
						}
					}

					&:hover::before{
						scale: 1.2;
					}
				}
			}
			
			.title-right{
				img{
					max-width: 100%;
					// padding-bottom: 30px;
				}
			}
		}
		.main-text{
			margin: 2em 0;
			color: var(--llGrey);
			font-size: .9rem;
			line-height: 105%;
		}

		.cta{
			display: flex;
			align-items: center;
			gap: 1em;
			img{
				max-width: 120px;
			}
			position: relative;
			.btn-decor{
				fill: none;
				top: 0%;
				left: -70px;
				position: absolute;
				height: 100%;
				scale: 1.4;

				animation: line 5200ms infinite linear;
				stroke-dasharray: 500;
				opacity: 0;
				pointer-events: none;
				user-select: none;
				opacity: 0.3;
				
				transition: opacity 250ms ease;
			}
			&:hover{
				.btn-decor{
					opacity: 1;
				}
			}
			@keyframes line {
				0%{
					stroke-dashoffset: 0;
				}
				100%{
					stroke-dashoffset: 1200;
				}
			}

			.btn{
				font-size: 1.2rem;
				position: relative;
				overflow: hidden;
		
			}
		}
	}

	figure{
		padding-top: 4em;
		// background-color: green;

		.card{
			margin: 0 auto;
			height: 100%;
			border-radius: 5em 5em 0 0;
			transition: all 400ms ease;
			perspective: 1200px;
			position: relative;
			display: flex;
			align-items: flex-end;
			// overflow: hidden;

			
			.card-front{
				transform-origin: bottom center;
				max-width: 100%;
				object-fit: contain;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				transform-style: preserve-3d;
				transition: all 600ms cubic-bezier(0, 0.55, 0.45, 1) ;
				border-radius: 5em 5em 0 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			.card-back{
				transform-style: preserve-3d;
				position: absolute;
				border-radius: 5em 5em 0 0;
				top: 0%;
				left: 0%;
				max-width: 100%;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transform: rotateY(-520deg);
				transition: all 600ms cubic-bezier(0, 0.55, 0.45, 1) ;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
		}
		&:hover{
			.card{
				border-bottom: none;
				.card-front{
					transform: rotateY(520deg);
				}
				.card-back{
					border: 5px solid var(--green);
					border-bottom: none;
					transform: rotateY(0deg);
				}
			}
		}
	}
}


@keyframes graph {
	from{
		rotate:0deg;
	}
	to{
		rotate: 960deg;
	}
}


@keyframes expand {
	from{
		scale: .8;
	}
	to{
		scale: 1;
	}
}