.section_heading{

	width: 100%;

	&:hover{
		.head{
			gap: 1.5em;
		}
	}
	.head{
		display: flex;
		transition: all 250ms ease;
		align-items: center;
		justify-content: center;
		gap: 1em;
		margin:  1em auto;
	filter: drop-shadow(2px 2px 0px rgba(30, 23, 74, 0.378));

	}
	.decor{
		height: 30px;
		transform: skew(-20deg);
		width: 20px;
		background: var(--green);
	}
	.text{
		transform: skew(-20deg);
		h2{
			transform: skew(20deg);
			color: var(--dGreen);
		}
		padding: .25em 2em;
		background: var(--green);
	}

	.description{
		text-align: center;
		font-size: .9rem;
		opacity: .6;
		max-width: 600px;
		margin: 1em auto;
	}
}